body, html {
    max-width: 100vw;
    overflow-x: hidden; /* Hide horizontal overflow */
}



.side-panel {
    position: fixed; /* Ensures the panel is positioned relative to the viewport */
    top: 0;
    left: 0; /* Set to 0 to align it properly from the left */
    width: 250px; /* Or any width you prefer */
    height: 100%; /* Makes the panel cover the full viewport height */
    background-color: orange; /* Color for visibility */
    transform: translateX(-100%); /* Start off-screen to the left */
    transition: transform 0.3s ease-in-out; /* Smooth transition for sliding in/out */
    z-index: 1050; /* Higher than other elements, adjust if necessary */
    box-shadow: 2px 0 5px rgba(0,0,0,0.3); /* Optional: Adds shadow for better layering effect */
}

.side-panel nav a {
    display: block;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

.side-panel-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


        header.w-full {
    position: relative;  /* Change from absolute if it was set to absolute */
    width: 100%;
    z-index: 1000;  /* Ensure it's above other content but doesn't overlap */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  /* Optional: adds shadow for better visibility */
}

#hero-section {
    position: relative;
    width: 100vw; /* Ensures it covers full viewport width */
    height: 120vh; /* Adjusts height to take full height minus header */
    min-height: 120vh; /* Minimum height adjusted for the header */
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('img/table-hero.avif');
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    padding: 0; /* Adjust padding as needed */
    margin-top: 120px; /* Set this to the height of your header */
    animation: fadeInImage 0.5s ease-out 0.5s forwards; /* Animation name, duration, timing function, delay, and fill mode */
    opacity: 0; /* Start with the image hidden */
}


.floating-text {
    position: absolute; /* Default positioning within flex context */
    bottom: 8em; /* Adjust based on desired distance from the bottom */
    left: 20px; /* Adjust based on desired distance from the left */
    color: white; /* For better visibility on darker backgrounds */
    text-align: left;
    align-self: flex-start; /* Aligns the content to the left */
    text-align: left; /* Ensures text aligns to the left */
    margin: 0; /* Removes any margin if present */
    color: white; /* Ensures text is white, adjust as needed */
    width: auto; /* Takes width based on content size */
}


.section {
    position: relative; /* General styles if necessary */
    padding: 20px 0;
    width: 100vw;
 
    /* No background properties here that could interfere */
}


@keyframes fadeInImage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

        @font-face {
    font-family: 'Barack';
    src: url('font/barack.woff2') format('woff2'),
         url('font/barack.woff') format('woff'),
         url('font/barack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
    @font-face {
        font-family: "Futura";
    src: url('font/FuturaPTLight.otf') format('opentype');
    }
    @font-face {
        font-family: "Futura";
        src: url('font/FuturaPTMedium.otf') format('opentype');
        font-weight: bold;
    }

    @font-face {
        font-family: "Audrey";
    src: url('font/Audrey-Normal.otf') format('opentype');
    }
    
.header-title {
    font-family: 'Audrey', sans-serif; /* Fallback font */
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    letter-spacing: .15em;
    font-size: 75px;
    margin-left: 2rem;
    
}
.subheader {
    font-family: 'Futura', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    letter-spacing: .25em;
    margin-left: 1.5rem;
    margin-bottom: 1.2rem;
    font-weight:200;
}
.subheader-nos{
    font-family: 'Futura', sans-serif;
   
    
    font-weight: bold;
}
/* Base styles for images to ensure consistency */
.img-container img {
    width: 100%; /* Make image fill the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the area without distorting the image */
    opacity: 0; /* Start with images hidden */
    transform: translateY(20px); /* Start slightly lower */
    transition: opacity 0.5s ease-out, transform 0.7s ease-out; /* Smooth transition for opacity and position */

}
.img-container.visible img {
    opacity: 1; /* Fully visible */
    transform: translateY(0px); /* Move to original position */
}

/* Grid layout for larger screens */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns on larger screens */
    gap: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {

    .main-container {
        flex-direction: column; /* Ensures vertical stacking on smaller screens */
    }
    .section {
        min-height: auto; /* Allows sections to fit content on smaller screens */
        padding: 4em 0; /* Increase padding to avoid overlap */
        flex-direction: column;
       
    }
    .grid {
        grid-template-columns: 1fr; /* Single column layout */
    }
 
}

/* Additional style for vertical alignment on smaller devices */
@media (max-width: 480px) {
    .img-container {
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-title {
        font-size:10vw; 
        padding: 15px; 
        
        
    }
}

.main-container {
    
    animation: fadeInImage 0.5s ease-out 0.5s forwards; /* Animation name, duration, timing function, delay, and fill mode */
    opacity: 0; /* Start with the image hidden */
    
    display: flex;
    flex-direction: column;
}

.ml-2{
    margin-left: 1rem;
}
.ml{
    margin-left: .5rem;
}

.testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0; /* Light background for visibility */
    padding-bottom: 120px;
}

.arrow {
    border: none;
    background: transparent;
    cursor: pointer;
    opacity: 0; /* Arrows are invisible initially */
    transition: opacity 0.3s ease-in-out; /* Smooth transition for the opacity change */
}

.testimonials:hover .arrow {
    opacity: 1; /* Arrows become visible on section hover */
}

.left {
    position: absolute;
    left: 20px;
}

.right {
    position: absolute;
    right: 20px;
}

.testimonial-text {
    text-align: center;
    width: 100%;
    padding: 0 50px; /* Padding to prevent text from overlapping arrows */
    opacity: 1; /* Ensure text is visible by default */
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity change */
}

.testimonial-text p {
    font-size: 16px;
    color: #333; /* Dark text for readability */
}


.testimonial-header {
    font-size: 32px; /* Adjust size as needed */
    color: rgb(0, 0, 0); /* Dark text for readability */
    margin-bottom: 20px; /* Space between the header and the testimonial content */
}

.contact-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    margin-left: 2rem;
    font-family: "Futura";
}

.contact-button:hover {
    color: white;
    background-color: brown;
    border-color: brown;
}

.button-container {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
}

#b-product{
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin-left: 0;
}
/* Initial state of the image, hidden and slightly translated */
.img-about {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.5s ease-out, transform 1.5s ease-out;
}

/* State when the image becomes visible */
.img-about.visible {
    opacity: 1;
    transform: translateX(0);
}

.site-footer {
    width: 100%;
    position: relative;
    background-color: black;
    color: white;
    text-align: center; /* Center text and content */
    padding: 40px 20px;
    padding-top: 120px;
    box-sizing: border-box;
    display: flex; /* Use flexbox to align children */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align children */
    justify-content: center; /* Center content vertically */
}

.footer-content {
    width: 100%; /* Ensures the footer content takes full width */
    display: flex; /* Enables flexbox properties */
    flex-direction: column; /* Align children elements in a column */
    align-items: center; /* Center-align the items */
    justify-content: center; /* Center content vertically */
}

.footer-content img {
    max-height: 150px; /* Adjust based on your needs */
    width: auto; /* Maintain aspect ratio */
}

.site-footer a {
    color: #ffffff; /* Ensures the link is also white */
    text-decoration: none; /* Removes underline from the link */
}

.site-footer a:hover {
    text-decoration: underline; /* Adds underline on hover */
}

.herotext{
    margin-top: 10rem;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    animation: fadeInImage 1.5s ease-out 0.5s forwards; /* Animation name, duration, timing function, delay, and fill mode */
    opacity: 0; /* Start with the image hidden */
}

.menu-icon svg, .social-icons img {
    cursor: pointer;
    height: 24px;
    padding: .1em /* Adjust size as needed */
}

.sections-container {
    position: relative; /* This container holds both sections and the image */
}
.testimonials, .site-footer {
    position: relative; /* Ensures proper layering and relative positioning */
    z-index: 1; /* Lower than the image */
}

.boundary-image-container {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    position: absolute; /* Absolutely position the container */
    width: 100%; /* Full width to center the image properly */
    left: 0;
    transform: translateY(-50%); /* Perfectly centers the image between sections */
    z-index: 2; /* Higher than both the testimonial and footer */
}

.boundary-image-container img {
    width: 240px; /* Adjust width as needed */
    max-width: 100%; /* Ensures it does not overflow the viewport */
    height: auto; /* Maintain aspect ratio */
}
#gallery{
    padding-bottom: 120px;
    padding-top: 120px;
}
#about{
    
    min-height: 120vh; /* Minimum height adjusted for the header */
}

.gallery-section {
    background-color: #f0f0f0;
    padding: 10px;
       
}

.gallery-container {
    display: flex;
    justify-content: space-between;
        height: auto;
}
.galleriatext{
    margin-bottom: 100px;

}
.gallery-large {
    width: 60%;
    height: auto; /* Altezza fissa */
}

.gallery-small {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.gallery-large img, .gallery-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-small .small-img {
    height: calc(50% - 10px); /* Altezza fissa delle immagini piccole */
}

@media (max-width: 768px) {
    .gallery-container {
        flex-direction: column;
    }
    .gallery-large, .gallery-small {
        width: 100%;
        height: auto;
    }
    .gallery-small {
        flex-direction: column;
    }
    .gallery-small .small-img {
        height: auto;
        width: 100%;
    }
}
